.projects{
    padding: 5rem 0;
    background-color: var(--linear-grad-black);

    h1{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--secondary-color);
    }

    .project-details{
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: start;
    }


    @media only screen and (max-width:768px) {
        padding: 3rem 0;
    }
}