.footer {
    background-color: var(--linear-grad-black);
    padding: 3rem 0;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .footer-social-links {
            max-width: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .social-links {
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                background-color: transparent;
            }
        }

        p {
            color: var(--primary-color);
            margin-top: 12px;
            font-size: 0.99rem;
        }
    }

    @media only screen and (max-width:768px) {
        padding: 0 0;
    }
}